/* Reset basic elements */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: $font-family-base;
  background-color: $bg-color;
  color: $text-color;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
