// COLORS
$primary-color: #9f312e;
$secondary-color: #f5f5f5;
$text-color: #333;
$bg-color: #ffffff;

// TYPOGRAPHY
$font-family-base: 'Inter', sans-serif;
$font-size-base: 16px;
$font-size-lg: 20px;
$font-size-sm: 14px;

// SPACING
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
